
.container {
    text-align: center;
    padding: 2rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: ce nter; */
}
 
.shop-title { 
    color: #222;
    margin-bottom: 2rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px ;
}

.product-card {
    background: white;
    border-radius: 10px;
    width: 220px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.product-card:hover{
    transform: translateY(-5px);
}

 .product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
 }

 .product-card h3 {
    font-size: 1rem;
    color: #333;
    height: 50px;
    overflow: hidden;
 }

 .category {
    color: #777;
    font-size: 0.9rem;
    margin: 5px 0px;

 }

 .price {
    color: #00875a;
    font-weight: bold;
    margin-top: 5px;
 }

 .show-more-btn {
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3 ease;
 }

 .show-more-btn:hover {
    background-color: #0056b3;
 }